<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85278064958-l2m5tpv88oqooh3mnq2pcjb1fad3ko3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85278064958-l2m5tpv88oqooh3mnq2pcjb1fad3ko3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85278064958-g2352qe0u9fntka198an1p1f09ias9g5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFBBW6gSiN88prodkomyZWq56c6ZnjiEg</string>
	<key>GCM_SENDER_ID</key>
	<string>85278064958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sweepstakes</string>
	<key>PROJECT_ID</key>
	<string>sweepsteaks-31629</string>
	<key>STORAGE_BUCKET</key>
	<string>sweepsteaks-31629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85278064958:ios:6713069722f8d3c462ec6f</string>
	<key>DATABASE_URL</key>
	<string>https://sweepsteaks-31629.firebaseio.com</string>
</dict>
</plist>